body {
    font-family: 'PT Mono', monospace;
    margin: 40px;
    padding: 0;
    cursor: default;
    color: white;

    background-color: #050505;
}

.header {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.profile-pic {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

@media (max-width: 900px) {
    .header {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .profile-pic {
        margin: 0;
    }

    body {
        margin: 20px;
    }
}

img.inline {
    display: inline;
    height: 30px;
    padding-top: 10px;
}

hr {
    border: none;
    border-bottom: 3px solid #dcdcdc;
    outline: none;
}

.section-title {
    margin-bottom: 20px;
    margin-top: 50px;
}

a {
    color: #8070d4;
    font-weight: bold;
    text-decoration: none;
}

.lang-block {
    font-style: italic;
}

.languages-row {
    display: flex;
    overflow: auto;
    justify-content: space-between;
    width: calc(100vw - 80px);
    padding-bottom: 10px;

    scrollbar-color: #d4aa70 #707070;
    scrollbar-width: thin;
}

.languages-row::-webkit-scrollbar {
    width: 20px;
}

.languages-row::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: #707070;
}

.languages-row::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 100px;
    background-color: #8070d4;
    background-clip: content-box;
}

code {
    font-family: inherit;
    display: inline-block;
    font-size: 0.75rem;
    background-color: #2d2d2d;
    padding: 2px 5px;
    border-radius: 5px;
}

.language-group {
    width: 250px;
    min-width: 180px;
    margin: 0 10px 0;
    padding: 10px;
    border: 2px solid #dcdcdc;
    border-radius: 20px;
}

.language-group h4 {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 10px;
}

.language-group ul {
    margin-bottom: 0;
    padding-left: 25px;
}

.experience-item p {
    margin-left: 20px;
}

.experience-item h3 {
    margin-bottom: 5px;
}

.experience-item h6 {
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 10px;
}